/* Overrides */
header#topbar {
    color: #fff;
    background: #2d2d2d;
    padding: 15px;
    width: 100%;
    text-align:center;
}

header#topbar > h1 {
    font-family: Helvetica;
    font-size: 30px;
    color: #fff;
    display: inline;
}


table {
    width: 100%;
    height: 100%;
}

table tr {
    height: 2.5in;
    vertical-align: middle;
 }

table td {
    width: 2in;
    vertical-align: middle;
}

tbody, tr, th, td{
    background-color: transparent;
    padding: 0px;
    margin: 0px;    
}

/* A hack to override the zebra styling on tables */
tbody tr:nth-child(even) td, tbody tr.even td{
    background-color:transparent;
}

section#gamepanel {
    background-color: #2d2d2d;
    color: #fff;
    width: 100%;
    padding: 10px;
    border-style: solid;
}

section#gamepanel h1 {
    color: #fff;
    text-align: center;
    display: inline;
    font-size: 25px;
    padding: 10px;
}

section#gamepanel input {
    display: inline;
    font-size: 25px;
    padding: 10px;
}

section#gamepanel input#start {
    border-radius: 7px;
    background-color: red;
    color: white;
}

section#gamepanel input#time {
    background-color: #2d2d2d;
    border-color: #2d2d2d;
    color:white;
    float: right;
    font-family: mono;
}

section#miscpanel {
    text-align: center;
    background-color: grey;
}

section#miscpanel nav, ul, li {
    display: inline;
    padding: 15px;
}

section#miscpanel a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    position-bottom: 10px;
}

section#miscpanel a:hover {
    color: red;
}

img{
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    width: 90%;
}

